<!-- your html code here -->
<!-- KELVIN RUIZ-->

<div class="">

    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse facere iure excepturi perferendis, architecto aliquid. Doloremque dignissimos iusto sequi, recusandae quam tempore. Voluptate, possimus! Sit voluptatum dolorum recusandae quisquam temporibus!</p>

    <form class="border bg-light">
      <div class="mb-3">
        <label  class="form-label">Email:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
      </div>
      <div class="">
        <label for="form-label">Message:</label>
        <textarea class="form-control" placeholder="Please enter your message here..." id="floatingTextarea"></textarea>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-primary float-end">Submit</button>
      </div>
      
    </form>
</div>


