<!-- your html code here -->
<!-- KELVIN RUIZ-->

<div class="">

    <h1>Contact</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse facere iure excepturi perferendis, architecto aliquid. Doloremque dignissimos iusto sequi, recusandae quam tempore. Voluptate, possimus! Sit voluptatum dolorum recusandae quisquam temporibus!</p>

    <form class="border bg-light ps-5 pe-5 pt-2 pb-2 ms-5 me-5">
      <div class="mb-3">
        <label  class="form-label"> <strong>Email:</strong> </label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
      </div>
      <div class="">
        <label for="form-label"> <strong>Message:</strong> </label>
        <textarea class="form-control" placeholder="Please enter your message here..." id="floatingTextarea"></textarea>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-2">
        <button type="submit" class="btn btn-primary float-end">Submit</button>
      </div>
      
    </form>
</div>


