<!--Kelvin Ruiz-->

<div>

    <h1>Porfolio</h1>

    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis fuga cumque aliquam ipsum. Cumque, nemo. Rerum pariatur hic id iste voluptates? Ipsa eos illo velit id incidunt, quos, delectus perspiciatis voluptatem ipsam dolor nemo at consequatur quidem nisi. Repellendus nisi ea non at quam, suscipit vero et quos veniam ipsum.</p>

    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
        
</div>