<!--Kelvin Ruiz-->

<div class="border-top border-bottom"></div>

<div class="mt-5 mb-5">

    <h3>Porfolio</h3>

    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga harum sequi voluptatem voluptates culpa modi eveniet quidem, accusamus cumque animi. Doloribus nihil mollitia recusandae accusamus, hic vitae tenetur nostrum. Quod.</p>

    <div class="row d-flex ">
        <div class="card m-2 flex-fill" style="width: 18rem;">
            <img src="https://github.com/kelvinruizdev/exercise-collaborative-website/blob/develop/website/assets/img/big-project-image.png?raw=true" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Project name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
            </div>
        </div>
        <div class="card m-2 flex-fill" style="width: 18rem;">
            <img src="https://github.com/kelvinruizdev/exercise-collaborative-website/blob/develop/website/assets/img/big-project-image.png?raw=true" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Project name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
            </div>
        </div>
        <div class="card m-2 flex-fill" style="width: 18rem;">
            <img src="https://github.com/kelvinruizdev/exercise-collaborative-website/blob/develop/website/assets/img/big-project-image.png?raw=true" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Project name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
            </div>
        </div>
    </div>
        
</div>